table {
    width: 100%;
    border-collapse: collapse;
    color: #f0f0f0;
    /* Text color */
}

table th,
table td {
    border: 1px solid #444;
    /* Border color */
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #333;
    /* Header background color */
}

table tr:nth-child(even) {
    background-color: #222;
    /* Even row background color */
}

table tr:nth-child(odd) {
    background-color: #333;
    /* Odd row background color */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 20px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}